/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("./style-dark.css");
@import url("./personalizado/p.css");
@import url("./menu/menu.css");
@import url("./inicio/inicio.css");
@import url("./sobre/sobre.css");
@import url("./skills/skills.css");
@import url("./projetos/projetos.css");
@import url("./contato/contato.css");
@import url("./rodape/rodape.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.ct {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

:root {
  /* paleta de cores */
  --cor-primaria: #dddcda;
  --cor-secundaria: #eeedec;
  --cor-terciaria: #8453ff;

  --cor-texto-primaria: #1d1d1d;
  --cor-texto-secundaria: #8453ff;
  --cor-texto-terciaria: #5b35f4;
  --cor-texto-quartenaria: #3218e9;

  /* paleta purple */
  --purple1-color: #8453ff;
  --purple2-color: #7044fa;
  --purple3-color: #5b35f4;
  --purple4-color: #4726ef;
  --purple5-color: #3218e9;

  /* paleta black */
  --black1-color: #808080;
  --black2-color: #676767;
  --black3-color: #4f4f4f;
  --black4-color: #363636;
  --black5-color: #1d1d1d;

  /* paleta white */
  --white1-color: #ffffff;
  --white2-color: #eeedec;
  --white3-color: #dddcda;
  --white4-color: #cccac7;
  --white5-color: #bbb8b4;
}

body {
  transition: 0.3s ease-in !important;
  background-color: var(--cor-secundaria) !important;
  color: var(--cor-texto-primaria) !important;
  
}

.cptx{
  color: var(--cor-texto-primaria) !important;
}
