body.dark-mode {
  /* paleta de cores */
  --cor-primaria: #1d1d1d !important;
  --cor-secundaria: #272727 !important;
  --cor-terciaria: #8453ff !important;

  --cor-texto-primaria: #eeedec;
  --cor-texto-secundaria: #7044fa;
  --cor-texto-terciaria: #7044fa;
  --cor-texto-quartenaria: #7044fa;
  --cor-texto-claro: #eeedec;
}
