main {
  background-color: var(--cor-secundaria) !important;
}
.inicio {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--cor-secundaria);
}

.image-profile {
  height: 300px;
  display: flex;
  justify-content: flex-end;
}

.image-profile img {
  height: 100%;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  color: var(--cor-texto-secundaria);
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--cor-terciaria);
  padding: 10px;
}

.button-link:hover {
  color: var(--cor-texto-claro);
  background-color: var(--cor-texto-secundaria);
  transition: 0.3s ease;
}

.button-link:hover path {
  fill: var(--cor-texto-claro);
  transition: 0.3s ease;
}

.linkedin {
  fill: var(--cor-texto-secundaria);
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .inicio {
    gap: 40px;
    margin-bottom: 100px !important;
  }
}

@media (max-width: 1030px) {
  h1 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 20px !important;
  }
}

@media (max-width: 780px) {
  .inicio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
  }

  .image-profile {
    justify-content: center;
    height: 200px;
  }

  .content-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .nav-container {
    width: 80vw;
  }

  .box-nav-item {
    width: 100%;
  }
}
