.menu {
  background-color: var(--cor-primaria);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--cor-texto-secundaria);
  z-index: 999;
  transition: 0.3s ease;
}

.container-links-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon-dark-light-menu {
  height: 30px !important;
  cursor: pointer;
}

.menu-desktop {
  display: flex !important;
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.link-inicio {
  text-decoration: none;
}

.name-span {
  font-weight: 700;
  font-size: 2rem;
}

/* colors bootstrap */
.nav {
  --bs-nav-link-color: var(--cor-texto-secundaria) !important;
  --bs-nav-link-hover-color: var(--cor-texto-terciaria) !important;
}

.nav-underline {
  --bs-nav-underline-link-active-color: var(--cor-texto-quartenaria) !important;
}

.navbar {
  --bs-navbar-toggler-focus-width: 0 !important;
}

.collapse {
  margin-top: 10px;
}

.box-nav-item {
  border: 1px solid var(--cor-terciaria);
  width: 200px;
  border-radius: 10px;
}

.box-nav-item:hover {
  background-color: var(--cor-texto-secundaria);
}

.box-nav-item a:hover {
  color: var(--cor-secundaria);
}

.nav-container {
  text-align: center;
}

.nav-collapsed {
  display: flex !important;
  flex-direction: column !important;
  gap: 5px !important;
}

.container-fluid {
  display: flex;
  justify-content: flex-end !important;
}

.icon-light-dark {
  display: flex;
  align-items: center;
}

.icon-light-dark span img {
  height: 30px;
  cursor: pointer;
  fill: var(--cor-texto-secundaria);
}

#btn-mobile {
  display: none;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: var(--cor-terciaria);
  margin: 5px 0;
}

@media (max-width: 860px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .name-span {
    display: none;
  }

  .menu-desktop {
    display: none !important;
  }
  .container-links-nav {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .container-buttons-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #navbar-bs.active {
    display: flex !important;
    transition: 1s linear !important;
  }

  #btn-mobile {
    display: block !important;
    padding: 10px 0;
    cursor: pointer;
  }
}
